# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/

# Build artifacts
dist/
build/
*.egg-info/
artifacts/
nvda_addon.zip

# Local config
config/settings.yaml

# OS files
.DS_Store
Thumbs.db

# Tests
.pytest_cache/

# IDE
.vscode/
.idea/

# Media samples
*.mp3
*.wav
!src/sara/audio/media/beep.wav
*.flac
*.ogg
*.aac
*.m4a
*.wma
*.aif
*.aiff
*.opus
